---
import logoGit from "../assets/logo-github.png";
import profilGit from "../assets/github.jpg";
import LinkedIn from "../assets/LinkedIn_icon.png";
import photo_profile from "../assets/photo_profile.jpg";
import Gmail_icon from "../assets/Gmail_icon.png";
---

<div class="min-h-screen bg-gradient-to-br from-blue-50 to-blue-100 p-8 flex justify-center lg:w-8/12 w-full">
    
    
    <div class="w-full max-w-4xl rounded-xl p-8 space-y-8">
        <div class="w-fullrounded-xl p-4">
            <h1 class="text-center text-6xl font-bold">Contact</h1>
        </div>
        <!-- Section GitHub -->
    <a target="_blank" href="https://www.github.com/johanvadenne" class="m-4">
        <div class="bg-gray-50 p-6 rounded-lg hover:shadow-xl transition-shadow duration-300">
            <div class="flex items-center space-x-4">
                <img class="h-16" src={logoGit.src} alt="logo GitHub" />
                <h2 class="text-4xl font-bold text-blue-800">GitHub</h2>
            </div>
            <div class="mt-4 flex items-center space-x-4">
                <img class="h-16 rounded-full" src={profilGit.src} alt="profil GitHub" />
                <div>
                    <h3 class="text-3xl font-semibold text-gray-800">Jojo Lapin</h3>
                    <h4 class="text-2xl text-gray-600">johanvadenne</h4>
                </div>
            </div>
        </div>
    </a>

    <a target="_blank" href="https://www.linkedin.com/in/johan-vadenne-629387199" class="m-4">
        <!-- Section LinkedIn -->
        <div class="bg-gray-50 p-6 rounded-lg hover:shadow-xl transition-shadow duration-300">
            <div class="flex items-center space-x-4">
                <img class="h-16" src={LinkedIn.src} alt="logo LinkedIn" />
                <h2 class="text-4xl font-bold text-blue-800">LinkedIn</h2>
            </div>
            <div class="mt-4 flex items-center space-x-4">
                <img class="h-16 rounded-full border-2 border-blue-200" src={photo_profile.src} alt="profil LinkedIn" />
                <div>
                    <h3 class="text-3xl font-semibold text-gray-800">Johan Vadenne</h3>
                    <h4 class="text-2xl text-gray-600">Profil LinkedIn</h4>
                </div>
            </div>
        </div>
    </a>

    <a target="_blank" href="mailto:johanvadenne@gmail.com" class="m-4">
        <!-- Section Gmail -->
        <div class="bg-gray-50 p-6 rounded-lg hover:shadow-xl transition-shadow duration-300">
            <div class="flex items-center space-x-4">
                <img class="h-16" src={Gmail_icon.src} alt="logo Gmail" />
                <h2 class="text-4xl font-bold text-blue-800">Gmail</h2>
            </div>
            <div class="mt-4 flex items-center space-x-4">
                <div>
                    <h3 class="text-3xl font-semibold text-gray-800">johanvadenne@gmail.com</h3>
                    <h4 class="text-2xl text-gray-600">Contactez-moi</h4>
                </div>
            </div>
        </div>
    </a>
    </div>
</div>