---
const github = "github";
const linkedin = "linkedin";
const github_username = "johanvadenne";
const linkedin_username = "johan-vadenne-629387199";

import logoGit from "../assets/logo-github.png"
import logoIn from "../assets/1581908.webp"
---

<footer class="flex justify-self-start -translate-y-20">
  <a target="_blank" href={`https://www.${github}.com/${github_username}`}><img class="h-20 p-2" src={logoGit.src}></a>
  <a target="_blank" href={`https://www.${linkedin}.com/in/${linkedin_username}`}><img class="h-20 p-2" src={logoIn.src}></a>
</footer>